* {
    margin: 0px;
    padding: 0;
    color: white;
}

.header {
    background: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo {
   align-self: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 36vh;
   margin: 1vh;
   padding: 1vh;
}

.web {
    margin: 1.52vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 23.086vw;
    margin-left: 21.90vw;

}

.navbar ul {
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar ul li {
    padding: 2.28vh 0.73vw;
    margin: 0.76vh 0.73vw;
    background: rgb(216, 139, 152);
    border-radius: 3vh;

}



a {
    text-decoration: none;
}


.banner {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    height: 15.22vh;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

section {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: red;
    height: 15.22vh;

}

footer {
    display: flex;
    padding: 3vh;
    background: black;
    justify-content: space-around;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 22.83vh;
}

button {
    color: black;
}

.centrar {
    text-align: center;
}

input {
    color: black;
}